@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.light-onboard-background {
  background: url(/background-shade.svg) left -380px top 0px no-repeat,
    url(/light-background-grid.svg) 0% / cover no-repeat;
}

.light-dashboard-background {
  background: url(/background-shade.svg) center no-repeat,
    url(/light-background-grid.svg) 0% / cover no-repeat;
}

.onboard-watermark {
  background: url(/valerium-watermark.svg) center no-repeat;
}

.background {
  background: linear-gradient(
    180deg,
    rgba(233, 233, 233, 0.85) 0%,
    rgba(216, 216, 216, 0.85) 100.4%
  );
}
